<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header }}
        <p>My help 404 page</p>
        {{>footer }}
    </body>
</html>